*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: lightcyan;
}
header {
    height: 400px;
    width: 100%;
    background-image: url(foto_7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content:space-evenly;
}
.item {
    justify-self: center;
    align-self: center;
}
h1.cabecera {
    font-size: 150px;
    color: rgb(250, 235, 215, 0.8);
    
    font-family:Georgia, 'Times New Roman', Times, serif;
}
input {
    margin-top: 10px;
    padding: 7px;
    border-radius: 25px;
    border: 1px inset rgba(5, 43, 56, 0.8);
    width: 560px;
    font-size: 15px;
}
::placeholder {
   text-align: center;
   color: rgb(6, 38, 49);
}
div.item.b {
    border: 1px solid rgb(250, 235, 215);
    border-radius: 25px;
    color: antiquewhite;
    text-align: center;
}
h2.cabecera {
    font-size: 70px;
    height: 60px;
    margin: 10px;
}
h3.cabecera {
    font-size: 30px;
}
p.cabecera {
    font-size: 45px;
    font-weight: bold;
    color: antiquewhite;
}
nav {
    text-align: center;
    background-color: rgb(12, 99, 128);
    margin-top: 2px;   
    padding: 15px;
} 
nav ul {
    display: grid;
    grid-template-columns: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11%;
    list-style: none;
    
}
nav ul li a {
    color: antiquewhite;
    align-items: center;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
div.tit-cuerpo {
    color: rgb(6, 38, 49);
    margin-top: 2px;
    background-color: rgb(149, 211, 231);
    height: 122px;
    text-align: center;
}
div.tit-cuerpo h3 {
    line-height: 40px;
    font-size: 18px;
}
div.tit-cuerpo h1 {
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 7px;
}
div.tit-cuerpo p {
    margin top: 2px;
    font-size: 18px;
    margin-bottom: 50px;
}
div.cuerpo {
    margin-top: 2px;
    line-height: 40px;
}
div.cuerpo ul{
    display: grid;
    grid-template-columns: 1% 5% 10% 20% 20% 10%;
    justify-content: center;
    list-style: none;
    background-color: rgb(177, 236, 236);
    
}
div.cuerpo ul li {
    color: rgb(6, 38, 49);
    font-weight: bold;
    letter-spacing: 3px;
}
div.cuerpo p {
    align-items: center;
}
div.cajas {
    height: 452px;
    text-align: center;
    border: 1px solid black;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66% ;
    }
div.caja {
    justify-content: stretch;
    color: antiquewhite;
    margin-left: 5px;
    overflow: hidden;
    text-align: center;
    border: 1px solid black;
}
div div h3.dia {
    margin-top: 60px;
    margin-bottom: 2px;
    box-sizing:border-box;
    padding: 5px;
    font-size: 25px;
    letter-spacing: 2px;
}
div div p.fecha {
    margin-top: 0px;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 7px;
}
div div p.temp {
    font-size: 38px;
    margin-top: 70px;
    margin-bottom: 60px;
}
div div p.estado {
    margin-bottom: 50px;
    letter-spacing: 3px;
}
div div p.viento {
   font-weight: bold;
   letter-spacing: 10px;
   padding: 5px; 
}
div div.caja.a {
   background-image: url(foto_6.jpg);
   background-position: center;
   background-size: cover; 
}
div div.caja.b {
   background-image: url(foto_5.jpg);
   background-position: center;
   background-size: contain;
   background-repeat: repeat-y;
}
div div.caja.c {
   color: black;
   background-image: url(foto_8.jpg);
   background-size: cover;
   background-position: left;
   background-repeat: no-repeat;
   background-attachment: fixed;
} 
div div.caja.d {
    color: antiquewhite;
   background-image: url(foto_2.jpg);
   background-position: bottom;
   background-repeat: no-repeat;
   background-size: cover;
}
div div.caja.e {
    color: black;
   background-image: url(foto_1.jpg);
   background-size: cover;
   background-position: right;
}
div div.caja.e p.viento {
    color: antiquewhite;
}
div div.caja.f {
   background-image: url(lluvia.jpg);
   background-size: contain;
   background-repeat: repeat-y;
   background-position: right;
}
footer {
    height: 20px;
    background-color:rgb(177, 236, 236);
    margin-top: 35px;
    color: rgb(6, 38, 49);
    font-weight: bold;
    letter-spacing: 3px;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-self: center;
}
footer p {
  align-self: center;
}
